.container{
    display: flex;
    gap: 36.84px;
}
.cards{
    width: 100%;
}

@media (max-width: 800px){
   .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   }
   .cards{
    width: 80%;
   }
}